/* .nav-image {
    width: 30px;
    height: 30px;
}

.nav-items {
    display: flex;
    align-items:center;
    background-color: black;
    color: white;
}

.nav-item{
    margin-right: auto;
    color: aqua;
} */